# Cheat Sheet

### Data Types

| What they are called in English | What they are called in Python | 
| :- | :- |
| **"Natural" data types** | 
| integer | `int` |
| floating-point number | `float` |
| boolean / logical variable | `bool` |
| **Ordered data types (sequences)** |
| string | `str` |
| list | `list` |
| tuple | `tuple` |
| **Unordered data types (collections)** |
| set | `set` |
| dictionary | `dict` |


| Immutable data types | Mutable data types |
| --- | --- |
| tuple | list |
| string | set
| integer and floating-point number | dictionary |
| logical variable


| Data type | Data structure type | How to access elements |
| --- | --- | --- |
| tuples | ordered | by index |
| lists |  ordered | by index |
| strings  | ordered | by index |
| sets | unordered | unavailable |
| dictionaries | unordered | by key

### Key Functions
`input()`  
reads input (string).

`print(x, sep=',', end='\n')`  
diplays output on the screen. `x` is the argument to be printed. All arguments are separated by commas.

* `sep` is used to control the separator between arguments (whitespace by default), 
*`end` is used to set up the character that will end a line (new line character by default). 

`f'Hello, {name}!'`  
a formatted string sequence (`f-string`), where `name` will be replaced with a `name` variable's value. For example, if `name = 'Olya'`, the string in the example will be 'Hello, Olya!'`

`round(x, n)`
rounds number x to n decimal places

In [1]:
n1 = 2.53242
n2 = 3.521515

print(n1, n2, sep=';', end='!\n')
print(f'n1 * n2 = {round(n1 + n2, 2)}')

2.53242;3.521515!
n1 * n2 = 6.05

`map(function name, sequence)`  
applies a specified function to all elements in a sequence

In [2]:
# use map to lowercase the strings below
print(list(map(str.lower, ['cAt', 'dOg', 'DucKmOle'])))

['cat', 'dog', 'duckmole']

In [3]:
# use map to convert a list of strings into a list of integers
numbers = input().split()
print(list(map(int, numbers)))

2 3 4
[2, 3, 4]

### Data Type Conversion Functions

`float()`  
floating-point number

`int()`  
integer

`str()`   
string

`list()`   
list

`set()`  
set

`dict()`  
dictionary

### Arithmetic Operators

In [ ]:
print(11 + 2)   # Addition
print(11 - 2)   # Subtraction
print(11 * 2)   # Multiplication
print(11 ** 2)  # Exponentiation
print(11 / 2)   # Division. The result will be a fraction, just like in a calculator
print(11 // 2)  # Floor division. The result will be an integer
print(11 % 2)   # Modulo. The result will be the remainder of dividing two numbers

13
9
22
121
5.5
5
1

In [ ]:
# "Reduction" of arithmetic operators
x = 3
y = 3
x += 1
y = y + 1
print(x)
print(y)

4
4

In [ ]:
x = 3
y = 3
x -= 1
y = y - 1
print(x)
print(y)

2
2

In [ ]:
x = 3
y = 3
x *= 2
y = y * 2
print(x)
print(y)

6
6

In [ ]:
x = 3
y = 3
x /= 2
y = y / 2
print(x)
print(y)

1.5
1.5

### Logical Operators

In [ ]:
print(2 + 2 == 4) # equal to
print(2 + 2 != 4) # not equal to
print(2 + 2 < 4)  # less than
print(2 + 2 > 4)  # greater than
print(2 + 2 >= 4) # greater than or equal to
print(2 + 2 <= 4) # less than or equal to
print('o' in 'Hello') # checks if a value is found in a sequence
print('o' not in 'Hello') # checks if a value is missing in a sequence

True
False
False
False
True
True
True
False

`and`  
returns `True`if both conditions are true and returns `False` in all other cases

`or`  
returns `True` when one or both conditions are true and returns `False`when both are false

`not` changes `True` to `False` and vice versa

In [ ]:
age = 19
print((age >= 18) and (age < 65)) # age 18 or older AND under 65
print((age < 18) or (age >= 65)) # age under 18 OR 65 or older
not(age == 19) # logical negation

True
False

False

### Conditional Operator: Example

In [ ]:
sex = 'male'
if sex == 'male':
    print('Male')
elif sex == 'female':
    print('Female')
else:
    print('Sex undefined')

Male

### While Loop: Examples

In [ ]:
# print all numbers from 1 to x, inclusive
x = int(input())
n = 1
while n <= x:
    print(n)
    n = n + 1

1
2
3
4
5

In [ ]:
# keep saving to the animals list until "end" is entered 
animals = []
while True:
    animal = input()
    if animal == 'end':
        break
    animals.append(animal)
    
print(animals)

cat
capybara
duckmole
end
['cat', 'capybara', 'duckmole']

### *For* Loop: Examples
You can use `for` loop to iterate over elements in strings, lists, tuples, sets, and dictionary keys.

In [ ]:
# iterate over elements in a list
students = ['Masha', 'Misha', 'Glasha']
for st in students:
    print(st)

Masha
Misha
Glasha

In [ ]:
# use range() to iterate over indices
students = ['Masha', 'Misha', 'Glasha']
for i in range(len(students)):
    print(students[i])

Masha
Misha
Glasha

In [ ]:
# Nested loop: print the multiplication table for 1, 2, 3
for i in range(1,4):
    for j in range(1,4):
        print(f'{i} x {j} = {i * j}')
    print('-'*9)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
---------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---------

In [ ]:
# Nested loop: iterate over a list of lists
students = [['Masha', 5], ['Petya', 4]]

for st in students:
    for item in st:
        print(item)
    print('-'*9)

Masha
5
---------
Petya
4
---------

### Sequence Operations (Strings, Tuples, Lists)

Operations listed below work not only for strings but also for lists and tuples.

In [ ]:
print('Hello' + ' Oleg') # concatenates strings
print('Hello' * 2)       # repeates strings
print('Hello'[1])        # accesses an element by index, returns the second character
print('Hello'[-1])       # accesses an element by index, returns the last character
print(len('Hello'))      # returns the number of elements in a string

Hello Oleg
HelloHello
e
o
5

If you try to access an element that is missing in the sequence by index, the program will show an error.

### Slices
You can use slices to simultaneously access several characters in a string or elements in a sequence:

1. `'Hello'[2:4]` accesses the characters with indices 2 and 3 in `Hello`: `ll`;
2. `'Hello'[:3]` accesses all characters starting from index 0 to index 2: `Hel`;
3. `'Hello'[2:]` accesses all characters from index 2 up to the end of the string: `llo`;
4. `'Hello'[:]` accesses all characters in the string: `Hello`;
5. `'Hello'[-4:-1]` accesses characters from 4 to 1 (reverse numbering): `ell`
6. `'Hello'[::2]` outputs every other character in a word (step size=2): `Hlo`

In [ ]:
print(f'String slice for "Hello"[2:4]: {"Hello"[2:4]}')
print(f'String slice for "Hello"[:3]: {"Hello"[:3]}')
print(f'String slice for "Hello"[2:]: {"Hello"[2:]}')
print(f'String slice for "Hello"[:]: {"Hello"[:]}')
print(f'String slice for "Hello"[-4:-1]: {"Hello"[-4:-1]}')
print(f'String slice for "Hello"[::2]: {"Hello"[::2]}')

String slice for "Hello"[2:4]: ll
String slice for "Hello"[:3]: Hel
String slice for "Hello"[2:]: llo
String slice for "Hello"[:]: Hello
String slice for "Hello"[-4:-1]: ell
String slice for "Hello"[::2]: Hlo

### Lists

In [4]:
students = ['Masha', 'Misha', 'Glasha']
students[0] = 'Dasha' # replace element in a list
print(students)
print(*students) # 'unzip' the list: print all elements one by one

['Dasha', 'Misha', 'Glasha']
Dasha Misha Glasha

* `.append()` adds a new element to the existing list
* `.remove()` removes a given element from an existing list
* `.count()` counts how many times a given element is found in the list
* `.index()` returns the index of the first match for a given element
* `.extend()` adds all the elements of an iterable list to the end of a given list

`.append()`, `.extend()`, and `.remove()` methods change the original list.

`.count()` and `.index()` can also be applied to tuples.

In [5]:
shopping_list = ['milk', 'bread', 'sour cream', 'milk']
print(f'Original list: {shopping_list}')  # print the original list

shopping_list.append('yoghurt')               # add yoghurt to the source list
print(f'List with yoghurt: {shopping_list}')  # print the list with yoghurt

shopping_list.remove('sour cream')                 # remove sour cream from the list
print(f'List without sour cream: {shopping_list}')   # print the list without sour cream

shopping_list.extend(['chocolate', 'cookies'])    # add two elements to the list (we will store them in the list)
print(f'List without sour cream: {shopping_list}')   # print the list with chocolate and cookies

print(f'Milk is found {shopping_list.count("milk")} times in the list.')
print(f'The index of the first occurrence for milk is {shopping_list.index("milk")}.')
print(f'The index of the first occurrence for yoghurt is {shopping_list.index("yoghurt")}.')

print()
shopping_tuple = ('milk', 'bread', 'sour cream', 'milk', 'yoghurt')
print(f'Milk is found {shopping_tuple.count("milk")} times in the list.')
print(f'The index of the first occurrence for milk is {shopping_tuple.index("milk")}.')
print(f'The index of the first occurrence for yoghurt is {shopping_tuple.index("yoghurt")}.')

Original list: ['milk', 'bread', 'sour cream', 'milk']
List with yoghurt: ['milk', 'bread', 'sour cream', 'milk', 'yoghurt']
List without sour cream: ['milk', 'bread', 'milk', 'yoghurt']
List without sour cream: ['milk', 'bread', 'milk', 'yoghurt', 'chocolate', 'cookies']
Milk is found 2 times in the list.
The index of the first occurrence for milk is 0.
The index of the first occurrence for yoghurt is 3.

Milk is found 2 times in the list.
The index of the first occurrence for milk is 0.
The index of the first occurrence for yoghurt is 4.

### String Methods

* `.split()` splits a string after each whitespace (you can set up your own separator as argument)
* `.join()` takes a list of strings to create a new string. The string to which this method was applied will become the separator between the elements.

In [ ]:
names = 'Olya, Anya, Petya'.split(', ') # split a string with names separated by ','
print(names)
print(';'.join(names)) # join a list of strings to create a new string separated by ';'

['Olya', 'Anya', 'Petya']
Olya;Anya;Petya

* `.isdigit()` checks if a string contains only digits
* `.islower()` checks if a string contains only letters in lower case
* `.isalpha()` checks if a string contains only letters
* `.isalnum()` checks if a string contains only letters and digits
* `.replace()` creates a new string by replacing elements in the original string
* `.count()` checks how many times a given sequence of characters is found in a string

In [ ]:
s = ' 4242HelloHello42!   '
print(f'We will use the "{s}"" string to check how these methods work')
print(f'Does this string contain only digits? {s.isdigit()}')
print(f'Does this string contain only letters in lower case? {s.islower()}')
print(f'Does this string contain only letters? {s.isalpha()}')
print(f'Does this string contain only letters and digits? {s.isalnum()}')
print(f'Remove whitespaces on both sides of the string: "{s.strip()}"')
print(f'Replace the number 42 with the word "Answer": "{s.replace("42","Answer")}"')
print(f'Find the first and last index for the number 42: {s.find("42")}, {s.rfind("42")}')
print(f'How many times is the number 42 found in the string? {s.count("42")}')

We will use the " 4242HelloHello42!   "" string to check how these methods work
Does this string contain only digits? False
Does this string contain only letters in lower case? False
Does this string contain only letters? False
Does this string contain only letters and digits? False
Remove whitespaces on both sides of the string: "4242HelloHello42!"
Replace the number 42 with the word "Answer": " AnswerAnswerHelloHelloAnswer!   "
Find the first and last index for the number 42: 1, 15
How many times is the number 42 found in the string? 3

* `.find()` and `.rfind()` can be used to find the indices of the very first and last occurence of a given sequence of characters in a string 
* `.lower()` creates a new string with lowercase letters only
* `.upper()` creates a new string with uppercase letters only
* `.strip()` creates a new string where unwanted characters will be removed on both sides of the original string. The default argument is whitespace, but you can specify the string of characters that will be considered unwanted: `.strip('.')` will remove only periods
* `.lstrip()` and `.rstrip()` work in the same way as `.strip()`but will remove characters to the left or to the right of the string

In [ ]:
s = ' .Test. '
print(f'Original string: "{s}"')
print(f'A string without whitespaces on both sides: "{s.strip()}"')
print(f'A string without whitespaces to the right: "{s.rstrip()}"')
print(f'A string without whitespaces to the left: "{s.lstrip()}"')
print(f'A string without periods and whitespaces on both sides: "{s.strip(" .")}"')
print(f'A string that only contains uppercase letters: "{s.upper()}"')
print(f'A string that only contains lowercase letters: "{s.lower()}"')
print(f'A string that only contains lowercase letters and no unwanted whitespaces: "{s.lower().strip()}"')
print(f'The original string did not change: "{s}"')

Original string: " .Test. "
A string without whitespaces on both sides: ".Test."
A string without whitespaces to the right: " .Test."
A string without whitespaces to the left: ".Test. "
A string without periods and whitespaces on both sides: "Test"
A string that only contains uppercase letters: " .TEST. "
A string that only contains lowercase letters: " .test. "
A string that only contains lowercase letters and no unwanted whitespaces: ".test."
The original string did not change: " .Test. "

* `.startswith()` can be used to check if a string begins with a specified sequence of characters (or one of the sequences we are looking for)
* `.endswith()`in the same way, can be used to check if a string ends with a specified sequence of characters (or one of the sequences we are looking for)

In [ ]:
print(f'Does the "hse.ru" string end with ".ru"? {"hse.ru".endswith("ru")}')
print(f'Does the "hse.ru" string end with ".ru" or ".рф"? {"hse.ru".endswith(("ru", ".рф"))}')
print(f'Does the "https://cbr.ru" string start with "https"? {"https://cbr.ru".startswith("https")}')

### Sets

In [ ]:
pets = {'cat', 'grass snake', 'python'}
pets.add('dog') # add a new element to the set
pets.remove('cat') # remove an element from the set
print(pets)

{'python', 'dog', 'grass snake'}

### Set Operations

In [ ]:
my_pets_list = {'cat', 'fish', 'chinchilla', 'grass snake'}
friend_pets_list = {'dog', 'python', 'grass snake', 'cat', 'chameleon'}

# union: prints elements found in at least one set
print(my_pets_list | friend_pets_list) 

# intersection: prints elements found in both sets
print(my_pets_list & friend_pets_list) 

# difference: prints elements found in my_pets_list but not included in friend_pets_list
print(my_pets_list - friend_pets_list) 

# difference: prints elements found in friend_pets_list but not included in my_pets_list
print(friend_pets_list - my_pets_list) 

# symmetric difference: prints elements found in either set but not both
print(my_pets_list ^ friend_pets_list)

{'fish', 'python', 'chinchilla', 'dog', 'cat', 'chameleon', 'grass snake'}
{'cat', 'grass snake'}
{'fish', 'chinchilla'}
{'python', 'chameleon', 'dog'}
{'python', 'chinchilla', 'dog', 'fish', 'chameleon'}

### Dictionaries

In [ ]:
eng_rus = {'apple': 'яблоко', 'hello': 'привет', 'world': 'мир'}

print(eng_rus['apple']) # access the "яблоко" value by its key - "apple"
eng_rus['hello'] = 'здравствуйте' # replace a key value
print(eng_rus) # print the revised dictionary
del eng_rus['world'] # remove a key:value pair
print(eng_rus) # print the revised dictionary
eng_rus['python'] = 'питон' # create a new key:value pair
print(eng_rus) # print the revised dictionary

яблоко
{'apple': 'яблоко', 'hello': 'здравствуйте', 'world': 'мир'}
{'apple': 'яблоко', 'hello': 'здравствуйте'}
{'apple': 'яблоко', 'hello': 'здравствуйте', 'python': 'питон'}

In [ ]:
eng_rus = {'apple': 'яблоко', 'hello': 'привет', 'world': 'мир'}

print('apple' in eng_rus) # check if a given key is found in the dictionary
print('apple' not in eng_rus) # check if a given key is not found in the dictionary
print(eng_rus.values()) # print all values in the dictionary
print(eng_rus.keys()) # print all keys in the dictionary
print(eng_rus.items()) # print all key:value pairs as a tuples list

True
False
dict_values(['яблоко', 'привет', 'мир'])
dict_keys(['apple', 'hello', 'world'])
dict_items([('apple', 'яблоко'), ('hello', 'привет'), ('world', 'мир')])

In [ ]:
# iterate over all keys in the dictionary
eng_rus = {'apple': 'яблоко', 'hello': 'привет', 'world': 'мир'}

for key in eng_rus:
    print(key)

apple
hello
world

In [ ]:
# iterate over all values in the dictionary
eng_rus = {'apple': 'яблоко', 'hello': 'привет', 'world': 'мир'}

# iterate over all values in the dictionary: method 1
for key in eng_rus:
    print(eng_rus[key])

яблоко
привет
мир

In [ ]:
# iterate over all values in the dictionary
eng_rus = {'apple': 'яблоко', 'hello': 'привет', 'world': 'мир'}

# iterate over all values in the dictionary: method 2
for value in eng_rus.values():
    print(value)

яблоко
привет
мир

In [ ]:
# print the key and the corresponding value
eng_rus = {'apple': 'яблоко', 'hello': 'привет', 'world': 'мир'}

for key in eng_rus:
    print(key, eng_rus[key])

apple яблоко
hello привет
world мир

In [2]:
# access dict_items where the key:value pairs are stored
eng_rus = {'apple': 'яблоко', 'hello': 'привет', 'world': 'мир'}

print(eng_rus.items())

for key,value in eng_rus.items():
    print(key, value)

dict_items([('apple', 'яблоко'), ('hello', 'привет'), ('world', 'мир')])
apple яблоко
hello привет
world мир

#### Dictionary of Lists

In [ ]:
temperature = {
    'January 1': [-5, -12],
    'January 2': [-4, -8]
}
# print the entrire dictionary for temperatures over 2 days:
print(f'Daily temperature (daytime, nighttime): {temperature}')

# print the temperature list for January 1:
print(f'Temperature on January 1 (daytime, nighttime): {temperature["January 1"]}')

# print the daytime temperature for January 1:
print(f'Temperature on January 1 (daytime): {temperature["January 1"][0]}')

# print the average temperature for January 1:
print(f'Temperature on January 1 (average): {sum(temperature["January 1"]) / len(temperature["January 1"])}')

Daily temperature (daytime, nighttime): {'January 1': [-5, -12], 'January 2': [-4, -8]}
Temperature on January 1 (daytime, nighttime): [-5, -12]
Temperature on January 1 (daytime): -5
Temperature on January 1 (average): -8.5

### Statistics with Dictionaries

In [ ]:
# count how many times each letter is found in a text
twister = 'two toads terribly tired trotted along the road said toad number one to the toad number two'

letters = twister.replace(' ', '') # remove whitespaces

stats = {} # create an empty dictionary to calculate the statistics
for l in letters:
    if l not in stats:
        stats[l] = 1
    else:
        stats[l] += 1
        
print(stats)

{'t': 13, 'w': 2, 'o': 10, 'a': 6, 'd': 7, 's': 2, 'e': 8, 'r': 7, 'i': 3, 'b': 3, 'l': 2, 'y': 1, 'n': 4, 'g': 1, 'h': 2, 'u': 2, 'm': 2}

## Sum, min, max, sort

`sum()`  
sumps up all elements in a list

`max()`  
returns the largest element in a list, tuple, or set

`min()`  
returns the smallest element in a list, tuple, or set

In [ ]:
numbers = [5,7,30]
print(f'The minimum number in the {numbers} list: {min(numbers)}')
print(f'The maximum number in the {numbers} list: {max(numbers)}')
print(f'The sum of all numbers in the {numbers} list: {sum(numbers)}')

numbers = (5,7,30)
print(f'The minimum number in the {numbers} tuple: {min(numbers)}')
print(f'The maximum number in the {numbers} tuple: {max(numbers)}')
print(f'The sum of all numbers in the {numbers} tuple: {sum(numbers)}')

s = '112358'
print(f'The minimum number in the {s} string: {min(s)}, the maximum number: {max(s)}')

The minimum number in the [5, 7, 30] list: 5
The maximum number in the [5, 7, 30] list: 30
The sum of all numbers in the [5, 7, 30] list: 42
The minimum number in the (5, 7, 30) tuple: 5
The maximum number in the (5, 7, 30) tuple: 30
The sum of all numbers in the (5, 7, 30) tuple: 42
The minimum number in the 112358 string: 1, the maximum number: 8

In [ ]:
marks = [8.4, 4, 8, 9.4]
print(sorted(marks))  # sort the marks list in an ascending order
print(sorted(marks, reverse=True))  # and in a descending order

[4, 8, 8.4, 9.4]
[9.4, 8.4, 8, 4]

In [ ]:
fruits = ['apple', 'Яблоко', 'Апельсин', 'Orange', 'манго']
print(sorted(fruits)) # sort the strings without keys (do not ignore case)
print(sorted(fruits, key=str.lower)) # sort the strings by keys (ignore case)

['Orange', 'apple', 'Апельсин', 'Яблоко', 'манго']
['apple', 'Orange', 'Апельсин', 'манго', 'Яблоко']

In [ ]:
# print the dictionary sorted by keys
marks_students = {'Antonova Anna':10, 'Ivanov Alexey':8, 'Bobylev Sergey':5, 'Yanova Lena':5}

for key in sorted(marks_students):
  print(f'Student {key} was assigned {marks_students[key]} points')

Student Antonova Anna was assigned 10 points
Student Bobylev Sergey was assigned 5 points
Student Ivanov Alexey was assigned 8 points
Student Yanova Lena was assigned 5 points

In [ ]:
# print the dictionary sorted by values
marks_students = {'Antonova Anna':10, 'Ivanov Alexey':8, 'Bobylev Sergey':5, 'Yanova Lena':5}

for value in sorted(set(marks_students.values())):
    for key in marks_students:
        if marks_students[key] == value:
            print(f'{value} points will be assigned to student {key}')

5 points will be assigned to student Bobylev Sergey
5 points will be assigned to student Yanova Lena
8 points will be assigned to student Ivanov Alexey
10 points will be assigned to student Antonova Anna

In [ ]:
# find the minimum/maximum items in the dictionary keys
marks_students = {'Antonova Anna':10, 'Ivanov Alexey':8, 'Bobylev Sergey':5, 'Yanova Lena':5}

max_key = max(marks_students)
print(f'The surname of a student placed last in the dictionary: {max_key}')

The surname of a student placed last in the dictionary: Yanova Lena

In [ ]:
# find the minimum/maximum elements in the dictionary values

min_value = min(marks_students.values())

for key in marks_students:
    if marks_students[key] == min_value:
        print(f'The minimum mark {min_value} will be assigned to student {key}')

The minimum mark 5 will be assigned to student Bobylev Sergey
The minimum mark 5 will be assigned to student Yanova Lena

### Functions

In [ ]:
# define a function that will count one's age based on their year of birth
def get_age(year):
    print(2020 - year)

birth_year = 2005
get_age(birth_year)

15

In [ ]:
# define a function that will count 
# one's age in a given year
def check_age(birth_year, year):
    print(year - birth_year)
    
check_age(1996, 2020)

24

In [ ]:
# define a conditional function that returns 2 values
# The function checks if a person was born in the same year for which we want to check their age
def check_age(birth_year, year):
    if year < birth_year:
        return 'Error'
    else:
        return year - birth_year

print(check_age(1996, 1980))
print(check_age(1996, 2000))

Error
4

In [ ]:
# call a function inside another function

# convert year of birth into age
def get_age(age):
    return 2020 - age

# find the minimum and maximum age in a list
def get_min_max_age(list_of_ages):
    return get_age(min(list_of_ages)), get_age(max(list_of_ages))

get_min_max_age([1987, 1990, 2000, 2004, 1999])

(33, 16)

In [ ]:
# return several values

# return the word length and last letter for the last-letter game
def check_name(word):
    return len(word), word[-1]

petya_score, last_letter = check_name('Moscow')
print(petya_score)
print(last_letter)

6
w

### Anonymous Functions

In [ ]:
def squared(a):
    return a ** 2

print(list(map(squared, [2, 3, 4])))
# anonymous function is similar to squared
print(list(map(lambda a: a ** 2, [2, 3, 4])))

[4, 9, 16]
[4, 9, 16]

Sort a dictionary by value using anonymous function

In [ ]:
d = {'cat':124, 'barsik':76, 'meow':50}

# sort a dictionary by key (the first element in a tuple)
print(sorted(d.items())) 

# sort a dictionary by value (the second element in a tuple of d.items())
print(sorted(d.items(), key=lambda x:x[1]))

[('barsik', 76), ('cat', 124), ('meow', 50)]
[('meow', 50), ('barsik', 76), ('cat', 124)]

### Passing Strings, Tuples, Numbers 
Let's consider how strings, tuples, integers, and floating-point numbers are passed to functions.

In [ ]:
# define the function that will update a string 
# Input parameters: a string
# Returned values: a string with ' + addition' 
def update_string(s):
    s += ' + addition'
    return s

In [ ]:
str1 = 'original text'      
str2 = update_string(str1) 
print('str2:', str2)       
print('str1:', str1) # The original string did not change

str2: original text + addition
str1: original text

In [ ]:
# define the function that will update a tuple 
# Input parameters: a tuple
# Returned values: another tuple
def update_tuple(t):
    t = ('another', 'tuple')
    return t

In [ ]:
t1 = ('original', 'tuple')      
t2 = update_tuple(t1) 
print('t2:', t2)    
print('t1:', t1) # The original tuple did not change

t2: ('another', 'tuple')
t1: ('original', 'tuple')

In [ ]:
# define the function that will update a number 
# Input parameters: a number (integer or floating-point number)
# Returned values: the same number multiplied by 2
def update_number(n):
    n *= 2 # another way to write it: n = n * 2
    return n

In [ ]:
n1 = 5      
n2 = update_number(n1) # call the function for an integer
print('n2:', n2)      
print('n1:', n1)

n2: 10
n1: 5

In [ ]:
n3 = 7.2      
n4 = update_number(n3) # call the function for a floating-point number
print('n4:', n4)      
print('n3:', n3)

n4: 14.4
n3: 7.2

### Passing lists, dictionaries, and sets
Let's consider how lists, dictionaries, and sets can be passed to functions.

In [ ]:
# define the function that will update a list  
# Input parameters: a list
# Returned values: a list with '+ addition' 
def update_list(L):
    L.append('+ addition')
    return L

In [ ]:
list1 = ['original', 'list']       
list2 = update_list(list1)          
print('list2:', list2)             
print('list1:', list1) # The original list was changed

list2: ['original', 'list', '+ addition']
list1: ['original', 'list', '+ addition']

In [ ]:
# define the function that will update a set  
# Input parameters: a set
# returned values: a set with '+ addition' 
def update_set(s):
    s.add('+ addition')
    return s

In [ ]:
s1 = {'original', 'set'}
s2 = update_set(s1)          
print('s2:', s2)             
print('s1:', s1) # The original set was changed

s2: {'+ addition', 'set', 'original'}
s1: {'+ addition', 'set', 'original'}

In [ ]:
# define the function that will update a dictionary   
# Input parameters: a dictionary
# Returned values: a dictionary with an additional key and additional value
def update_dict(d):
    d['add.key'] = 'add.value'
    return d

In [ ]:
d1 = {'key 1': 'value 1', 'key 2': 'value 2' }
d2 = update_dict(d1)          
print('d2:', d2)             
print('d1:', d1) # The original dictionary was changed

d2: {'key 1': 'value 1', 'key 2': 'value 2', 'add.key': 'add.value'}
d1: {'key 1': 'value 1', 'key 2': 'value 2', 'add.key': 'add.value'}

### Modules

In [ ]:
import math # imports the math module featuring additional mathematical functions 
print(math.sqrt(25)) # calls function from the module

5.0

In [ ]:
import string # the string module contains multiple variables with character subsets
print(string.digits) # all digits
print(string.punctuation) # all punctuation marks

0123456789
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

### Handling Files

To have a file open without indicating the full path (by filename only), make sure to save it in the same folder as the file containing Python code. If you want to read a file on the online.hse.ru / et.hse.ru platform, you only need to state a filename without its full path (see examples).

Also, don't forget to set up `encoding='UTF-8'`to avoid any issues with Cyrillics.

Please make sure to use `with open() as`statement to open a file; the same statement will close the file afterwards.

We will open files in three modes:
1. `mode='r'` — **read**. If a file cannot be found, the system will show an error. This is the default mode.
1. `mode='w'` — **write**. If a file cannot be found, a new one will be created. If a file exists, data will be overwritten.
1. `mode='a'` — **append**. If a file cannot be found, a new one will be created. If a file exists, new data will be appended after existing data.

In [ ]:
# read text from a file to a string, method 1

text = ''                # create an empty string where the text from the file will be stored
with open('text_file.txt', encoding='UTF-8') as infile:
    for line in infile:  # save each line from infile to the line variable one by one
        text += line     # add a new line to the text variable

print(text)

Привет! Это первая строка в файле.
А это вторая строка.

Третья строка была пустой, а это уже четвертая строка.

In [ ]:
# read text from a file to a string, method 2

with open('text_file.txt', encoding='UTF-8') as infile:
    text = infile.read()

print(text)

Привет! Это первая строка в файле.
А это вторая строка.

Третья строка была пустой, а это уже четвертая строка.

In [ ]:
# read lines from a file to a list, method 1

lines = [] # create an empty list
with open('text_file.txt', encoding='UTF-8') as infile:
    for line in infile: # iterate over the file line by line
        lines.append(line.strip()) # add a line + remove new line character
print(lines)

['Привет! Это первая строка в файле.', 'А это вторая строка.', '', 'Третья строка была пустой, а это уже четвертая строка.']

In [ ]:
# read lines from a file to a list, method 2

lines = [] # create an empty list
with open('text_file.txt', encoding='UTF-8') as infile:
    lines = infile.readlines()

# Please note that new line characters are still there, 
# and you will need to remove them later if this matters for your task    
print(lines)

['Привет! Это первая строка в файле.\n', 'А это вторая строка.\n', '\n', 'Третья строка была пустой, а это уже четвертая строка.\n']

In [ ]:
# read an .csv file splitting it by separators

lines = []

with open('csv_file.csv', encoding='UTF-8') as infile: # open a file using an alias
    for line in infile:  # save each line in infile to the line variable one by one
        lines.append(line.strip().split(', ')) # add another line to the list + remove \n + split it by ','
        
print(lines)

[['Фамилия', 'Имя', 'Отчество', 'год рождения'], ['Иванов', 'Иван', 'Иванович', '1980'], ['Петрова', 'Ирина', 'Михайловна', '2000']]

In [ ]:
# write to a file -- a new file is created to write data (or an older file with the same name is overwritten)

important_text = 'This is a very important text. It contains several lines. \nAll lines are separated by a new line character.'
with open('info.txt', 'w', encoding='UTF-8') as outfile:    # open the file for writing: 'w', we can include the actual code
    print(important_text, file=outfile)

In [ ]:
# append to a file -- an existing file will open and new text will be added after the existing text
important_text_3 = 'This is our third very important entry. We hope it will be written after the second one.'
with open('info.txt', 'a', encoding='UTF-8') as outfile: # open the same file for appending: 'a' (append)
    print(important_text_3, file=outfile)